Source: sugar-toolkit-0.98
Section: python
Priority: optional
Maintainer: Debian Sugar Team <pkg-sugar-devel@lists.alioth.debian.org>
Uploaders: Jonas Smedegaard <dr@jones.dk>,
 Santiago Ruano Rincón <santiago@debian.org>
Build-Depends: cdbs (>= 0.4.90~),
 autotools-dev,
 devscripts,
 python,
 python-all-dev,
 debhelper,
 dh-buildinfo,
 libglib2.0-dev,
 python-gtk2-dev,
 libsm-dev,
 libice-dev,
 libasound2-dev | libasound-dev,
 gettext,
 intltool,
 libxml-parser-perl,
 chrpath
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-sugar/sugar-toolkit
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-sugar/sugar-toolkit.git
Homepage: http://wiki.sugarlabs.org/go/Sugar

Package: python-sugar-toolkit-0.98
Architecture: any
Depends: ${cdbs:Depends},
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Recommends: ${cdbs:Recommends}
Suggests: ${cdbs:Suggests}
Provides: ${cdbs:Provides},
 ${python:Provides}
Conflicts: ${cdbs:Conflicts}
Replaces: ${cdbs:Replaces}
Description: Sugar graphical shell - core widgets
 Sugar is a desktop environment. It is conceived as a platform upon
 which children learn with Sugar Activities. The platform provides
 mechanisms for collaboration, reflection, and exploration. Sugar
 Activities cover a broad range of applications: browsing, drawing,
 composing, writing, programming, etc.
 .
 This package contains a set of widgets to build HIG compliant
 applications and interfaces to interact with system services like
 presence and the datastore.
