#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2008-2009 Jonas Smedegaard <dr@jones.dk>
# Description: Main Debian packaging script for sugar-toolkit
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
# 02111-1307 USA.

DEB_BUILDDIR = build
DEB_PYTHON_SYSTEM = pycentral
ifneq (,$(DEB_MAINTAINER_MODE))
  # Enable stuff not policy compliant (eg. unsuitable for build daemons)
  DEB_COPYRIGHT_CHECK_STRICT = yes
  DEB_AUTO_UPDATE_DEBIAN_CONTROL = yes
#  DEB_AUTOTOOLS_RECREATE = yes
ifneq (,$(DEB_AUTOTOOLS_RECREATE))
  DEB_AUTO_UPDATE_ACLOCAL = 1.10
  DEB_AUTO_UPDATE_AUTOMAKE = 1.10
  DEB_AUTO_UPDATE_AUTOCONF = 1.10
  DEB_AUTO_UPDATE_LIBTOOL = pre
endif
endif
include debian/cdbs/1/rules/upstream-tarball.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include debian/cdbs/1/rules/copyright-check.mk
include debian/cdbs/1/class/python-autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include debian/cdbs/1/rules/buildinfo.mk

pkgbase = python-sugar-toolkit
pkgbranch = 0.88
pkg = $(pkgbase)-$(pkgbranch)

DEB_UPSTREAM_PACKAGE = $(DEB_SOURCE_PACKAGE:%-$(pkgbranch)=%)
DEB_UPSTREAM_URL = http://download.sugarlabs.org/sources/sucrose/glucose/$(DEB_UPSTREAM_PACKAGE)
DEB_UPSTREAM_TARBALL_EXTENSION = tar.bz2
DEB_UPSTREAM_TARBALL_MD5 = bd0159d3ac6efe0fbf0700f8674fdb38

DEB_AUTOMAKE_ARGS = --add-missing --copy

ifneq (,$(DEB_AUTOTOOLS_RECREATE))
post-patches::
	chmod a+x config.guess config.sub depcomp install-sh missing py-compile
endif

# Drop created dir if empty to please lintian
binary-post-install/$(pkg)::
	rmdir --ignore-fail-on-non-empty --parents $(DEB_DESTDIR)/usr/share/locale

# Strip hardcoded rpath
binary-strip/$(pkg)::
	find $(DEB_DESTDIR)/usr/lib -type f -name '*.so' -exec chrpath -d '{}' ';'

ifneq (,$(DEB_AUTOTOOLS_RECREATE))
# Cleanup automade files
clean::
	find -type f -name Makefile.in -exec rm -f '{}' ';'
	rm -f config.guess config.sub configure depcomp install-sh ltmain.sh m4/intltool.m4 m4/libtool.m4 m4/lt* missing po/Makefile.in.in py-compile

# custom target to create/update patch containing automade files
# Trick CDBS into initializing (not just updating) the aclocal file
debian/stamp-autotools-files: aclocal.m4
aclocal.m4:
	touch aclocal.m4
clean::
	rm -f aclocal.m4

aclocal.m4: po/Makefile.in.in
po/Makefile.in.in:
	intltoolize -c
clean::
	rm -f po/Makefile.in.in intltool-extract.in intltool-merge.in intltool-update.in

DEB_PHONY_RULES += autogen
autogen: debian/stamp-autotools-files
	find -name .gitignore -exec rm '{}' ';'
	git ls-files -m -o -z -x debian/\* -x autom4te.cache -x .gitignore \
		| xargs -0 git add --
	git diff --cached \
		> debian/patches/2991_autoreconf.patch
endif

# Needed by upstream build process
CDBS_BUILD_DEPENDS := $(CDBS_BUILD_DEPENDS), libglib2.0-dev, python-gtk2-dev, libsm-dev, libice-dev, libasound2-dev | libasound-dev, gettext, intltool, libxml-parser-perl

# Needed (always/often/seldom) at runtime
#  * python-rsvg fallbacks unneeded since python-rsvg 2.24.0-2: can be
#    dropped after Squeeze+1
#  * python-gobject versioning needed for GIO bindings
#  * zip, git and subversion are used in .xo format packaging routines
CDBS_DEPENDS = python-gtk2, python-dbus, python-gobject (>= 2.15.0), python-cairo, python-telepathy, python-cjson, python-sugar-$(pkgbranch), python-hippocanvas, python-gconf | python-gnome2 (<= 2.22.3-2)
CDBS_DEPENDS += , python-rsvg | python-gnome2-desktop (<= 2.24.0-1), python-rsvg | librsvg2-common
CDBS_RECOMMENDS = sugar-$(pkgbranch), python-carquinyol-$(pkgbranch), sugar-presence-service-$(pkgbranch), python-jarabe-$(pkgbranch), ttf-dejavu-core, unzip
CDBS_SUGGESTS = git-core, subversion, ttf-dejavu-extra

# Ensure only one variant is installed at a time (Debian Policy 7.6.2)
CDBS_PROVIDES = $(pkgbase)
CDBS_CONFLICTS = $(pkgbase)
CDBS_REPLACES = $(pkgbase)

# Needed for our packaging
CDBS_BUILD_DEPENDS := $(CDBS_BUILD_DEPENDS), chrpath

# Merge duplicate build-dependencies
include debian/cdbs/1/rules/package-relations.mk
